body,
html {
  
  background-image: url('header.jpg');
  background-size: cover;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: beige;
  text-align: center;
  box-shadow: 2px 2px 3px gray;
  
}

hr{text-align: center;
  height: 200px;
}


.btn-outline-danger{ 
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  font-size: 25px;
color: black; 
text-align: center;
margin: 40px 600px;
box-shadow: 4px 4px 5px black;
transition: all 2s}

.btn-outline-danger:hover{
transform: scale(1.1)}

html {
  
  background-image: url('header.jpg');
  background-size: cover;
}